.container {
  text-align: center; 
  padding: 50px;
  margin: auto;
  border: 2px solid FFE45E;
  background-color: #F9F9F9;
}
.player1, .player2 {
  border: 5px;
  background-color: #7FC8F8;
  padding: 70px;
}
.active {
  background-color: #5AA9E6;
}
.rollDice {
  text-align: center;
}

.newGame1 {
  display: none; 
}

.newGame2 {
  display: none; 
}
